

<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
    <div class="line-grid-wrap">
        <span class="line-grid-1"></span>
        <span class="line-grid-2"></span>
        <span class="line-grid-3"></span>
        <span class="line-grid-4"></span>
        <span class="line-grid-5"></span>
    </div>
    <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="assets/images/resource/building3.png" alt=""></div>              
    <div class="auto-container">
        <div class="p_relative text-center">
            <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Activités</h1> 
            <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">

            </ul>
        </div>
    </div>
</section>


 <!-- services -->
 <section class="pb_110 pt_100">        
    <div class="auto-container">
        <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>NOS ACTIVITÉS</h6>
        <h2 class="fw_black fs_45 mb_20">Vous avez un projet, un besoin de conseil ou un devis à etablir, n’hesitez pas à nous contacter</h2>
        <p class="mb_50 fs_18">SARL accompagne ses clients et met à leur disposition ses compétences pour la réalisation de projets divers  <br>dans les domaines du Génie Civil, des fournitures industrielles, de la sous-traitance et du travail temporaire.</p>
            <div class="row"> 
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-construction fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Building Construction</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">01.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-sketch fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Architecture Design</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">02.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-renovation fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Building Renovation</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">03.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-roof fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Flooring & Roofing</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">04.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-interior-design fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Interior Design</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">05.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-trowel fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Repair & Expand</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">06.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-interior-design fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Consulting</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">07.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="icon_box_1 icon_box_1_with_hover alt mb_30 p_relative d-flex p_35 pt_40 b_radius_6">
                        <div>                            
                            <i class="flaticon-trowel fs_65 c_primary mb_40 d_iblock"></i>
                            <h4 class="fs_24 fw_normal c_dark4"><span class="fw_normal">Building Maintenance</span></h4>
                            <div class="link mb_75"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">View more <i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                            <div class="p_relative"><h5 class="fs_14 c_light_dark">08.</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- whychoose us -->
    <section class="">    
        <div class="parallax-bg-wrap b_0 p_absolute t_0 l_0 r_0 o_hidden">
            <div class="parallax-bg bg_cover  p_absolute t__50 l_0 r_0 b__50" data-parallax='{"y": 30}' style="background-image: url(assets/images/background/bg-1.jpg);"></div>
        </div>    
        <div class="auto-container">
            <div class="row no-gutters align-items-end">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    <div class="whychooseus-right-box" style="background-image: url(assets/images/resource/image-2.jpg);">
                        <div class="">
                            <h6 class="c_primary2 ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 bg_primary3 mr_10 d_iblock v_middle"></span>Bigger, Better, Faster </h6>
                            <h2 class="c_light fs_45 fw_black mb_18">Leading Way In Civil <br> Construction</h2>
                            <p class="mb_20 fs_16 c_light p_relative">Bring to the table win-win survival strategies to ensure
                                proactive domination. At the end of the day, going forward, a new normal that has evolved.</p>
                            <a href="contact.html" class="c_light ff_sec fw_bold tt_u fs_14 ls_1 p_relative">request a call back <i class="ml_10 fs_20 v_middle flaticon-right-1"></i></a>
                            <div class="p_absolute r_0 t__35 p_33 bg_primary"><a href="https://www.youtube.com/watch?v=XHOmBV4js_E" class="video-btn-1 ripple" data-fancybox="video-1" data-caption=""><i class="flaticon-play-button"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
