<section class="hidden-sidebar close-sidebar">
    <div class="wrapper-box">
        <div class="hidden-sidebar-close"><span class="fal fa-times"></span></div>
        <div class="logo"><a href=""><img src="assets/images/logo.png" alt=""></a></div>
        <div class="content">
            <div class="about-widget-two sidebar-widget">
                <h3>Finding The Best  <br>
                    Construction Services </h3>
                <div class="text">We denounce with righteous indignation and dislike men who we are to beguiled demoralized by the charms of pleasures that moment, so we blinded desires, that they indignations.</div>
            </div>
            <!-- Contact Widget -->
            <div class="sidebar-contact-info mb_40">
                <h4 class="fs_22 fw_medium mb_20">Conatct Us</h4>
                <ul>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-7__mapmarker.png" alt="">
                            </div>
                            <div class="text">
                                <p>54B, Tailstoi Town 5238 MT,<br> La city, IA 522364</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-8__envelop.png" alt="">
                            </div>
                            <div class="text">
                                <p><a href="mailto:info@example.com">contact@buildnox.com</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-9__phone.png" alt="">
                            </div>
                            <div class="text">
                                <p><a href="tel:+8801682648101">+1800 456 7890</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-10__clock.png" alt="">
                            </div>
                            <div class="text">
                                <p>Working Hrs : 9.30am to 6.30pm</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Newsletter Widget -->
            <div class="newsletter-widget">
                <h4 class="fs_22 fw_medium mb_20">Newsletter Subscription</h4>
                <form action="#">
                    <input type="email" placeholder="Enter Email Address">
                    <button class="btn-1 pt_18 pb_15 pl_30 pr_30 ff_sec fw_bold tt_u fs_14 ls_1">Subscribe Us <i class="flaticon-right-arrow-1"></i><span class="w_30 h_2 theme-bg mr_10 d_iblock v_bottom"></span></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="fal fa-times"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Finance</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Plan</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="banner-1-section banner-style_2 pt_130 bg_cover overflow-hidden" style="background-image: url(assets/images/main-slider/banner-2.jpg);">           
    <div class="auto-container full-width">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="text-center">
                    <img class="ps-xl-5" data-parallax='{"x": 50}' src="assets/images/main-slider/image-3.png" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="p_relative ps-xl-5">
                    <h1 class="c_light mb_30 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Construction Solutions <br>
                        Focused <span class="fw_light">Future Ready</span></h1> 
                    <p class="mb_40 fs_20 c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">Our staff, through the various departments, is trained and qualified for the tasks they have to perform, thus ensuring you peace of mind for your construction.</p>
                    <div class="link-btn tt_u pr_font fs_14 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1.5s"><a href="projects.html" class="btn-1 btn-alt pt_18 pb_15 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1">LEARN MORE<i class="flaticon-fast-forward"></i> <span class="w_30 h_2 theme-bg mr_10 d_iblock v_bottom"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- features -->
<section class="">        
    <div class="auto-container full-width p-0">
        <div class="row no-gutters">
            <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">01.</h5></div>
                        <i class="flaticon-construction fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Construction &<span class="fw_normal">Civil Engineering</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">LEARN MORE<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">02.</h5></div>
                        <i class="flaticon-sketch fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Industrial   <span class="fw_normal">Supply</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">LEARN MORE<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">03.</h5></div>
                        <i class="flaticon-renovation fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Subcontracted </h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">LEARN MORE<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">04.</h5></div>
                        <i class="flaticon-engineer fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Temporary  <span class="fw_normal">employment</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">LEARN MORE<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="pt_160 pb_90">        
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-5">
                <div class="p_relative">
                    <div class="image p_relative d_iblock" data-parallax='{"y": -20}'>
                        <img src="assets/images/resource/roller.png" alt="">
                    </div>
                    <div class="image p_relative b_40 text-end" data-parallax='{"y": 20}'>
                        <img src="assets/images/resource/image-3.jpg" alt="">
                    </div>
                    <div class="experience-year fs_18 fw_bold ff_sec theme-bg p_absolute l_60 b_110 text-center text-light pt_30 b_radius_50 lh_20" data-parallax='{"x": 20}'><span class="fs_60 fw_black mb_25 d_iblock">10</span><br> Years <br> Experience</div>
                </div>
            </div>
            <div class="col-lg-7 ps-lg-5">
                <div class="p_relative">
                    <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>ABOUT ZAKIB SERVICES </h6>
                    <h5 class="fs_45 fw_black mb_40">We participate in the realization of your construction projects <br>
                        by offering you flexibility and efficiency in the management of your human resources</h5>
                    <p class="mb_30 fs_20">Benefiting from the expertise of its holding company of 10 years; ZAKIB SERVICES supports its customers by providing them with qualified labor for the realization of all their construction sites</p>
                    <p class="mb_50 fs_18">With more than 10 years of experience, a seasoned team, and a mastery of all the construction trades, we can carry out all types of projects...</p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt_120 pb_120">

  <div class="auto-container">
    <div class="row">
    
                    <div class="p_relative">
                        <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>OUR JOB OFFERS</h6>
                        <p class="mb_30 fs_20">Providing qualified and experienced labor is the heart of our activity, so we recruit in all skill areas of the building and civil engineering trades. </p>
                        
                    </div>



        <form action="" method="post">
          <div class="awsm-filter-item-search">
            <div class="awsm-filter-item-search-in">
            <input type="text" id="awsm-jq-1" name="jq" value="" placeholder="Research" class="awsm-job-search awsm-job-form-control">
            </div>
          </div><input type="hidden" name="action" value="jobfilter">
        </form>

      <div class="col-lg-4">
        <div class="testimonials-1-block alt">
          <div class="testimonials-1-top-content">
            <div class="testimonials-1-author-title alt">Machine driver</div>
            <div class="testimonials-1-desc">Temporary employment </div>
            <div class="testimonials-1-desc">Côte d'Ivoire - Abidjan </div>
       
              <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">Details <span class="w_30 h_2 theme-bg mr_10 d_iblock v_bottom"></span></button>
      
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="testimonials-1-block alt">
          <div class="testimonials-1-top-content">
            <div class="testimonials-1-author-title alt">Ironworker</div>
            <div class="testimonials-1-desc">Temporary employment </div>
            <div class="testimonials-1-desc">Côte d'Ivoire - Abidjan </div>

              <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">Details <span class="w_30 h_2 theme-bg mr_10 d_iblock v_bottom"></span></button>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="testimonials-1-block alt">
          <div class="testimonials-1-top-content">
            <div class="testimonials-1-author-title alt">Painter</div>
            <div class="testimonials-1-desc">Temporary employment </div>
            <div class="testimonials-1-desc">Côte d'Ivoire - Abidjan </div>
 
              <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">Details <span class="w_30 h_2 theme-bg mr_10 d_iblock v_bottom"></span></button>
      
          </div>
        </div>
      </div>
    </div>
    <div class="btn-wrapper">

        <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1">
            View all offers
        </button>
      
      </div>
    </div>
</section>


