<section class="hidden-sidebar close-sidebar">
    <div class="wrapper-box">
        <div class="hidden-sidebar-close"><span class="fal fa-times"></span></div>
        <div class="logo"><a href=""><img src="assets/images/logo.png" alt=""></a></div>
        <div class="content">
            <div class="about-widget-two sidebar-widget">
                <h3>Finding The Best  <br>
                    Construction Services </h3>
                <div class="text">We denounce with righteous indignation and dislike men who we are to beguiled demoralized by the charms of pleasures that moment, so we blinded desires, that they indignations.</div>
            </div>
            <!-- Contact Widget -->
            <div class="sidebar-contact-info mb_40">
                <h4 class="fs_22 fw_medium mb_20">Conatct Us</h4>
                <ul>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-7__mapmarker.png" alt="">
                            </div>
                            <div class="text">
                                <p>54B, Tailstoi Town 5238 MT,<br> La city, IA 522364</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-8__envelop.png" alt="">
                            </div>
                            <div class="text">
                                <p><a href="mailto:info@example.com">contact@buildnox.com</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-9__phone.png" alt="">
                            </div>
                            <div class="text">
                                <p><a href="tel:+8801682648101">+1800 456 7890</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icons/icon-10__clock.png" alt="">
                            </div>
                            <div class="text">
                                <p>Working Hrs : 9.30am to 6.30pm</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Newsletter Widget -->
            <div class="newsletter-widget">
                <h4 class="fs_22 fw_medium mb_20">Newsletter Subscription</h4>
                <form action="#">
                    <input type="email" placeholder="Enter Email Address">
                    <button class="btn-1 pt_18 pb_15 pl_30 pr_30 ff_sec fw_bold tt_u fs_14 ls_1">Subscribe Us <i class="flaticon-right-arrow-1"></i><span></span></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="fal fa-times"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Finance</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Plan</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="banner-1-section banner-style_2 pt_130 bg_cover overflow-hidden" style="background-image: url(assets/images/main-slider/banner-2.jpg);">           
    <div class="auto-container full-width">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="text-center">
                    <img class="ps-xl-5" data-parallax='{"x": 50}' src="assets/images/main-slider/image-3.png" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="p_relative ps-xl-5">
                    <h1 class="c_light mb_30 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Nous bâtissons  des infrastructures<br>
                        modernes <span class="fw_light">et durables.</span></h1> 
                    <p class="mb_40 fs_20 c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">Fournir de la main d’œuvre qualifiée et expérimentée constitue le cœur de notre activité <br> Visiting Angels will make in the life of your loved one.</p>
                    <div class="link-btn tt_u pr_font fs_14 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1.5s"><a href="projects.html" class="btn-1 btn-alt pt_18 pb_15 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1">EN SAVOIR PLUS <i class="flaticon-fast-forward"></i> <span></span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- features -->
<section class="">        
    <div class="auto-container full-width p-0">
        <div class="row no-gutters">
            <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">01.</h5></div>
                        <i class="flaticon-construction fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Construction &<span class="fw_normal">Génie Civil</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">En savoir plus<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">02.</h5></div>
                        <i class="flaticon-sketch fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Fourniture  <span class="fw_normal">Industrielle</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">En savoir plus<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">03.</h5></div>
                        <i class="flaticon-renovation fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Sous <span class="fw_normal">Traitance</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">En savoir plus<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="icon_box_1 p_relative pt_55 pb_55 d-flex justify-content-around p_20 pr_50">
                    <div>
                        <div class="p_absolute t_60 r_60"><h5 class="fs_14 c_light_dark">04.</h5></div>
                        <i class="flaticon-engineer fs_65 c_primary mb_30 d_iblock"></i>
                        <h4 class="fs_24 mb_20">Travail <span class="fw_normal">Temporaire</span></h4>
                        <div class="link"><a href="" class="ff_sec fw_bold tt_u fs_14 ls_1 c_light_dark">En savoir plus<i class="p_relative t_3 c_primary ml_10 fs_20 v_middle flaticon-right-arrow-2"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="pt_160 pb_90">        
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-5">
                <div class="p_relative">
                    <div class="image p_relative d_iblock" data-parallax='{"y": -20}'>
                        <img src="assets/images/resource/roller.png" alt="">
                    </div>
                    <div class="image p_relative b_40 text-end" data-parallax='{"y": 20}'>
                        <img src="assets/images/resource/image-3.jpg" alt="">
                    </div>
                    <div class="experience-year fs_18 fw_bold ff_sec theme-bg p_absolute l_60 b_110 text-center text-light pt_30 b_radius_50 lh_20" data-parallax='{"x": 20}'><span class="fs_60 fw_black mb_25 d_iblock">20</span><br> Years <br> Experience</div>
                </div>
            </div>
            <div class="col-lg-7 ps-lg-5">
                <div class="p_relative">
                    <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>A PROPOS DE ZAKIB SERVICES </h6>
                    <h5 class="fs_45 fw_black mb_40">Nous participons au développement durable <br>
                        à travers la construction d'ouvrages architecturaux uniques</h5>
                    <p class="mb_30 fs_20">ZAKIB SERVICES SARL accompagne ses clients et met à leur disposition ses compétences pour la réalisation de projets divers dans les domaines du Génie Civil, des fournitures industrielles, de la sous-traitance et du travail temporaire.</p>
                    <p class="mb_50 fs_18">Fort de plus de 10 ans d’expérience, d’une équipe aguerrie, et d’une maitrise de tous les métiers du BTP, nous pouvons réaliser tous types de projets…</p>
                    <div class="author-box d-flex align-items-center">
                        <div class="image mb_20 mr_25"><img class="b_radius_50" src="assets/images/resource/author-1.jpg" alt=""></div>
                        <div class="mr_40">
                            <p class="mb-0 fs_20 fw_sbold c_dark">Nom du DG</p>
                            <p class="mb_20 fs_18 c_dark">Founder</p>
                        </div>
                        <div class="divider w_1 h_80 mr_35 bg_light_dark p_relative b_5"></div>
                        <div class="signature mb_20"><img src="assets/images/resource/signature2.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
