<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
    <div class="line-grid-wrap">
        <span class="line-grid-1"></span>
        <span class="line-grid-2"></span>
        <span class="line-grid-3"></span>
        <span class="line-grid-4"></span>
        <span class="line-grid-5"></span>
    </div>
    <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="assets/images/resource/building3.png" alt=""></div>              
    <div class="auto-container">
        <div class="p_relative text-center">
            <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Offres d’emploi</h1> 
           
        </div>
    </div>
</section>

<section class="pt_120 pb_120">
    <div class="auto-container">
        <div class="content text-center">
            <h1>Website under</h1>
            <h2 class="mb_30">Maintenance</h2>
            <p class="mb_30">Sorry, but the page you are looking for is under maintenance.</p>
            <div class="link-box mb_30">
                <a routerLink="/" class="btn-1 pt_18 pb_15 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1">Go to Homepage <i class="flaticon-right-arrow-1"></i><span></span></a>
            </div>
        </div>
    </div>
</section>
