
<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
    <div class="line-grid-wrap">
        <span class="line-grid-1"></span>
        <span class="line-grid-2"></span>
        <span class="line-grid-3"></span>
        <span class="line-grid-4"></span>
        <span class="line-grid-5"></span>
    </div>
    <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="assets/images/resource/building3.png" alt=""></div>              
    <div class="auto-container">
        <div class="p_relative text-center">
            <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Nos Référence</h1> 
            <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">
            </ul>
        </div>
    </div>
</section>

<!-- project -->
<section class="pt_110 pb_150">    
    <div class="auto-container">
        <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>NOS REFERENCES</h6>
        <p class="fs_18 mb_50">De nombreux ouvrages de différents natures réalisés par nos soins dans le respect des normes de qualité et de sécurité. </p>
    </div>
    <div class="auto-container full-width ps-4 pe-4">            
        <div class="project-1-row">
            <div class="project-1-column wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-1.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-1.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-2.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-2.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-3.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-3.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-4.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-4.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-16.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-16.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-17.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-17.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-18.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-18.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-19.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-19.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-20.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-20.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-21.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-21.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-1-column wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="project-1-block">
                    <div class="project-1-image">
                        <img src="assets/images/gallery/gallery-16.jpg" alt="">
                        <div class="project-1-overlay">
                            <a href="assets/images/gallery/gallery-16.jpg" class="project-1-icon" data-fancybox="project-1"><i class="flaticon-zoom"></i></a>
                            <a href="project-details.html"><i class="flaticon-link"></i></a>
                        </div>
                        <div class="project-1-content">
                            <p class="project-1-cat">Alfa Project</p>
                            <h4 class="project-1-title"> Renovation Of Roof</h4>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>