<footer class="main-footer">
   
    <div class="footer-1-middle pt_60 bg_dark8">
        <div class="auto-container">
                <div class="row">
                    <div class="col-sm-8" >
                        
                        <p class="mb_20 c_light2 fw_medium">Pour tous vos besoins en ressources humaines qualifiées et en<br> matériaux de premier choix pour vos chantiers...</p>
                        <h4 class="fs_22 fw_medium mb_20 c_light">VEUILLEZ NOUS CONTACTEZ NOUS</h4>
                    </div>
                    <div class="col-sm-4">
                        <form>
                            <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">NOUS CONTACTER <span></span></button>
                        </form>
                    </div>
                  </div>
              
                </div>
            <div class="auto-container">
            <div class="footer-border"></div>
            <div class="d-flex justify-content-lg-between pt_20 pb_6">
                <p class="c_light2 fs_17 mb_20 fw_medium">© Copyright  <a href="javascript:void(0);">zakib services</a> 2024 . All right reserved. </p>
                <ul class="footer-social-media">
                    <li><a class="hvr-zoom-1 hvr-zoom-1-primary" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="hvr-zoom-1 hvr-zoom-1-primary" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a class="hvr-zoom-1 hvr-zoom-1-primary" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="hvr-zoom-1 hvr-zoom-1-primary" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
